apiVersion: v1                                                                                                                  
  kind: Secret                                                                                                                    
  metadata:
    name: ecommerce-back-db                                                                                                       
    namespace: lapaltech                                                                                                          
  type: Opaque                                                                                                                    
  stringData:     
    url: "postgres://postgres:[password]@postgresql.postgresql.svc.cluster.local:5432/ecommerce?sslmode=disable"
  ---                                                                                                                             
  apiVersion: v1
  kind: Secret                                                                                                                    
  metadata:       
    name: ecommerce-back-redis
    namespace: lapaltech
  type: Opaque
  stringData:
    addr: "address"                                                                             
    password: "your-redis-password"