apiVersion: v1                                                                                                                  
  kind: Secret                                                                                                                    
  metadata:
    name: ecommerce-back-db                                                                                                       
    namespace: lapaltech                                                                                                          
  type: Opaque                                                                                                                    
  stringData:     
    url: "postgres://postgres:[password]@postgresql.postgresql.svc.cluster.local:5432/ecommerce?sslmode=disable"
  ---                                                                                                                             
  apiVersion: v1
  kind: Secret
  metadata:
    name: ecommerce-back-redis
    namespace: lapaltech
  type: Opaque
  stringData:
    addr: "address"
    password: "your-redis-password"
  ---
  apiVersion: v1
  kind: Secret
  metadata:
    name: ecommerce-back-s3
    namespace: lapaltech
  type: Opaque
  stringData:
    public_url: "https://your-bucket.s3.amazonaws.com"
    access_key_id: "your-access-key-id"
    secret_access_key: "your-secret-access-key"