apiVersion: v1
kind: Secret
metadata:
  name: {{.Values.name}}
  namespace: {{ .Release.Namespace }}
  labels:
    app: "{{ .Values.name }}"
    environment: "{{ .Values.environment }}"
    version: "{{ .Values.version }}"
type: Opaque
stringData:
  client-id: "my secret"
  client-secret: "my secret"